<footer class='bottom-menu bottom-menu-inverse'>
  <div class='container'>
    <div class='row'>
      <div class='col-xs-12 col-sm-4 col-md-4 footer-column'>
        <p>
          &copy;
          Complete Web Developer
        </p>
      </div>
      <div class='col-xs-12 col-sm-4 col-md-4 footer-column'>
        <ul class='list-unstyled'>
          <li>
            <a href="/pages/terms">
              Terms of Use
            </a>
          </li>
          <li>
            <a href="/pages/privacy">
              Privacy Policy
            </a>
          </li>
        </ul>
      </div>
      <div class='col-xs-12 col-sm-4 col-md-4 footer-column'>
        
          <ul class='list-unstyled'>
            
            <li>
              <a href='http://completewebdeveloper.com/pages/contact-us' target='_blank'>
                Contact Us
              </a>
            </li>
            
            
            <li>
              <a class='powered-by' href='https://teachable.com/?src=school_footer' style="visibility: visible !important;">Powered by <img src="https://d2oz8i5n9se8ej.cloudfront.net/assets/footer/teachable-logo-white-efd32576079839534d5b6e87bf4424e99b12624f854b2c500a4d3f0b6e2af46b.svg" class='powered-by-logo' alt="Teachable"></a>
            </li>
            
          </ul>
        
        
        </div>

      </div>
    </div>
  </div>
</footer>