
      <!-- HOMEPAGE -->
<!-- HERO Version 1: Site headline, description & call to action -->

<div class='homepage-hero'>
  <div class='container'>
    <div class='row text-center'>
      <h2 class='headline'>Become a Complete Web & App developer from Complete Novice to Professional</h2>
      <h3 class='subtitle'>Learn the Complete Web &amp; App Development Course and transform yourself from Novice to Professional  Job-Ready, Employable Developer.</h3>
      <br><br><a class='btn-primary btn-hg text-center' href='/sign_up'>Enroll now</a>
    </div>
  </div>
</div>

  
  
  <div class='container'>
    
      <h2 class='homepage-section-title'>Featured Courses</h2>
      
        <!-- Course Listing -->
<div class='col-xs-12 col-sm-6 col-md-4'>
  <div data-course-id="37680" data-course-url="/courses/the-complete-2016-learn-to-code-bundle-from-novice-to-professional", class='course-listing' >
    <div class='row'>
      <a href="/courses/the-complete-2016-learn-to-code-bundle-from-novice-to-professional" data-role="course-box-link">
        <div class='col-lg-12'>
          <!-- Course Image, Name & Subtitle (everyone) -->
          <div class='course-box-image-container'>
            <img class='course-box-image' src='//d6xfpzo6h49n1.cloudfront.net/0hz09FMkBEVNZCvdeaMAcS1OgV8=/fit-in/705x0/https://d2vvqscadf4c1f.cloudfront.net/pVqcNGV6T3OCgOlmq26T_web%20and%20app%20dev%20Course.png' role="presentation">
          </div>
          <div class='course-listing-title'>
            The Complete 2016 Coder Bundle - Go from Novice to Professional
          </div>
          <!-- Progress bar (enrolled users) -->
          <div class='col-xs-12 hidden'>
            <div class='progressbar'>
              <div class='progressbar-fill'></div>
            </div>
          </div>
          <!-- Subtitle (unenrolled users) -->
          <div class='course-listing-subtitle'>
            Become a Complete Web & App developer from Complete Novice to Professional with this 10 courses
          </div>
        </div>
      </a>
    </div>
    <div class='row course-listing-extra-info col-xs-12'>
      <div class='col-xs-8'>
        <!-- Bundle Info (everyone) -->
        
        <div class='small course-bundle'>
          10 Course Bundle
        </div>
        
      </div>
      <!-- Progress percentage (enrolled users) -->
      <div class='col-xs-4 hidden'>
        <div class='small course-progress'>
          <span class='percentage' data-course-id="37680">
            %
          </span>
          <br>
          COMPLETE
        </div>
      </div>
      <!-- Price (unenrolled users) -->
      <div class='col-xs-4'>
        <div class='small course-price'>
          $2,388
        </div>
      </div>
    </div>
  </div>
</div>

      
        <!-- Course Listing -->
<div class='col-xs-12 col-sm-6 col-md-4'>
  <div data-course-id="32597" data-course-url="/courses/the-complete-guide-to-running-a-web-development-business", class='course-listing' >
    <div class='row'>
      <a href="/courses/the-complete-guide-to-running-a-web-development-business" data-role="course-box-link">
        <div class='col-lg-12'>
          <!-- Course Image, Name & Subtitle (everyone) -->
          <div class='course-box-image-container'>
            <img class='course-box-image' src='//d6xfpzo6h49n1.cloudfront.net/FO_cuvi3sWSYr8tUVBQaKMJS6M0=/fit-in/705x0/https://dujk9xa5fr1wz.cloudfront.net/course/750x422/369662_7246_2.jpg' role="presentation">
          </div>
          <div class='course-listing-title'>
            Running a Web Development Business: The Complete Guide
          </div>
          <!-- Progress bar (enrolled users) -->
          <div class='col-xs-12 hidden'>
            <div class='progressbar'>
              <div class='progressbar-fill'></div>
            </div>
          </div>
          <!-- Subtitle (unenrolled users) -->
          <div class='course-listing-subtitle'>
            Learn how to start and grow a successful web development business. Get up & running and making money in under a week.
          </div>
        </div>
      </a>
    </div>
    <div class='row course-listing-extra-info col-xs-12'>
      <div class='col-xs-8'>
        <!-- Bundle Info (everyone) -->
        
        <!-- Author Image and Name (everyone) -->
        <img align='left' class='img-circle' src='//d6xfpzo6h49n1.cloudfront.net/ppel-j5sgSWvlb467pJmE5W4XhA=/30x30/https://d2vvqscadf4c1f.cloudfront.net/le3cjTVhRz2SmkYleyW9_Facebook%20Image.png' alt="Complete Web Developer">
        <div class='small course-author-name'>
          Complete Web Developer
        </div>
        
      </div>
      <!-- Progress percentage (enrolled users) -->
      <div class='col-xs-4 hidden'>
        <div class='small course-progress'>
          <span class='percentage' data-course-id="32597">
            %
          </span>
          <br>
          COMPLETE
        </div>
      </div>
      <!-- Price (unenrolled users) -->
      <div class='col-xs-4'>
        <div class='small course-price'>
          $299
        </div>
      </div>
    </div>
  </div>
</div>

      
        <!-- Course Listing -->
<div class='col-xs-12 col-sm-6 col-md-4'>
  <div data-course-id="36421" data-course-url="/courses/the-complete-android-tutorial-for-beginners", class='course-listing' >
    <div class='row'>
      <a href="/courses/the-complete-android-tutorial-for-beginners" data-role="course-box-link">
        <div class='col-lg-12'>
          <!-- Course Image, Name & Subtitle (everyone) -->
          <div class='course-box-image-container'>
            <img class='course-box-image' src='//d6xfpzo6h49n1.cloudfront.net/cDDLeNecmD27-homsrOSJFxn5KI=/fit-in/705x0/https://udemy-images.udemy.com/course/750x422/438570_356a_3.jpg' role="presentation">
          </div>
          <div class='course-listing-title'>
            The Complete Android Marshmallow Tutorial - Make 30 Apps
          </div>
          <!-- Progress bar (enrolled users) -->
          <div class='col-xs-12 hidden'>
            <div class='progressbar'>
              <div class='progressbar-fill'></div>
            </div>
          </div>
          <!-- Subtitle (unenrolled users) -->
          <div class='course-listing-subtitle'>
            Ideal for Beginners! Android 6.0 development: Become an Android developer, by making more than 30 Android mobile apps.
          </div>
        </div>
      </a>
    </div>
    <div class='row course-listing-extra-info col-xs-12'>
      <div class='col-xs-8'>
        <!-- Bundle Info (everyone) -->
        
        <!-- Author Image and Name (everyone) -->
        <img align='left' class='img-circle' src='//d6xfpzo6h49n1.cloudfront.net/ppel-j5sgSWvlb467pJmE5W4XhA=/30x30/https://d2vvqscadf4c1f.cloudfront.net/le3cjTVhRz2SmkYleyW9_Facebook%20Image.png' alt="Complete Web Developer">
        <div class='small course-author-name'>
          Complete Web Developer
        </div>
        
      </div>
      <!-- Progress percentage (enrolled users) -->
      <div class='col-xs-4 hidden'>
        <div class='small course-progress'>
          <span class='percentage' data-course-id="36421">
            %
          </span>
          <br>
          COMPLETE
        </div>
      </div>
      <!-- Price (unenrolled users) -->
      <div class='col-xs-4'>
        <div class='small course-price'>
          $197
        </div>
      </div>
    </div>
  </div>
</div>

      
    
  </div>

  
    <center>
      <a class='btn btn-lg btn-primary' href='/courses'>View All Courses</a>
    </center>
  
  <br>
  <br>
  <br>

<!-- Further Questions -->
<h2 class='homepage-section-title contact-us'>
  Any further questions before signing up?
  <a href='mailto:mukeshgbg2702@gmail.com' target='_blank'>Email us.</a>
</h2>
