<div class="course-block hero odd-stripe" id="block-318979">
  <!-- COURSE PAGE -->
  <!-- Course Info -->

  <div class='course-top-row has-hero-image' style='background:url("https://d2vvqscadf4c1f.cloudfront.net/gwh3YolRzqjTnATZkrWw_Background3.jpg");'>
    <div class="black-overlay" style="opacity: 0;">&nbsp;</div>

    <div class='container'>
      <div class='row'>
        <!-- Course Video/Image -->

        <div class='col-md-5 course-splash-media'>
          <div class='img-rounded'>
            <img src="//d6xfpzo6h49n1.cloudfront.net/FO_cuvi3sWSYr8tUVBQaKMJS6M0=/fit-in/705x0/https://dujk9xa5fr1wz.cloudfront.net/course/750x422/369662_7246_2.jpg" alt="369662 7246 2" />
          </div>
        </div>
        <div class='col-md-6 course-header-container'>

          <h1 class='course-title'>
            Running a Web Development Business: The Complete Guide
          </h1>
          <h2 class='course-subtitle'>
            Learn how to start and grow a successful web development business. Get up & running and making money in under a week.
          </h2>

          <a class="btn btn-hg btn-white-border" data-toggle="modal" data-target="#promoModal" id="watchpromo"><i class='fa fa-play'></i>&nbsp;&nbsp; Watch Promo</a>

        <!-- Embeds a button that will go to checkout if the course has only a single product,
        or scroll to the product select form if there is more than one product -->
        <form accept-charset="UTF-8" action="/purchase" class="sale_default" id="sale_default2" method="get">
          <input name="utf8" type="hidden" value="✓">
          <input type="hidden" name="" value="">
          <input id="course_id" name="course_id" type="hidden" value="32597">
          <input id="coupon_code" name="coupon_code" type="hidden" style="display:none;"/>
          <input id="school_domain" name="school_domain" type="hidden" value="http://completewebdeveloper.com">
          <input id="product_id" name="product_id" type="hidden" value="35938">
          <button id='enroll-button-top' class="btn btn-hg btn-primary btn-header-enroll" type="submit">
            <i class='fa fa-shopping-cart'></i>&nbsp;&nbsp;
            Enroll in Course for 
            <span class="default-product-price product_35938">$299</span>
            <span class="coupon-price product_35938"></span>
          </button>
        </form>


      </div>
    </div>
    <!-- Pre-enrollment Form -->
    
  </div>
</div>

<!-- Watch promo modal -->

<div id="promoModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="promoModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <br><br>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class='col-md-8 col-md-offset-2 course-splash-media video'>
        <div class='show-course-wistia-player'
        id='wistia-z3eyxm2bz8'
        data-wistia-id='z3eyxm2bz8'
        data-thumbnail='//d6xfpzo6h49n1.cloudfront.net/FO_cuvi3sWSYr8tUVBQaKMJS6M0=/fit-in/705x0/https://dujk9xa5fr1wz.cloudfront.net/course/750x422/369662_7246_2.jpg'>&nbsp;</div>
      </div>
    </div>
  </div>
</div>



</div>



<div class="course-block coupon_banner " id="block-318978">
  <div class='coupon-code-applied hidden'>
    <div class='container'>
      <div class='row'>
        <div class='col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2'>
        <!-- Caution! the coupon-percent and coupon-text classes are used
        to set the displayed amount properly -->
        <div class='coupon-percent-text'>
          <span class='coupon-percent'></span>
          off original price!<br>
        </div>
        <div class='coupon-invalid-text hidden'>
          The coupon code you entered is expired or invalid, but the course is still available!
        </div>
      </div>
    </div>
  </div>
</div>

</div>



<div class="course-block description_with_share_icons even-stripe" id="block-318977">
  <div class='container'>
    <div class='row'>
      <div class='col-lg-2 col-md-2 hidden-sm hidden-xs' style=''>
       <center>
        <a href='https://www.facebook.com/' target='_blank'>
        </a>
        <br>
        <a href="https://www.facebook.com/sharer.php?u=http://completewebdeveloper.com/courses/the-complete-guide-to-running-a-web-development-business" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
          <i class='fa fa-facebook-square facebook-button'></i>
        </a>
        <br>
        <a href="https://twitter.com/intent/tweet/?url=http://completewebdeveloper.com/courses/the-complete-guide-to-running-a-web-development-business&amp;text=Running a Web Development Business: The Complete Guide:" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
          <i class="fa fa-twitter-square twitter-button"></i>
        </a>
        <br>
        <a href="https://plus.google.com/share?url=http://completewebdeveloper.com/courses/the-complete-guide-to-running-a-web-development-business" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
          <i class="fa fa-google-plus-square google-plus-button"></i></a>
          <br>
          <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://completewebdeveloper.com/courses/the-complete-guide-to-running-a-web-development-business&amp;title=Running a Web Development Business: The Complete Guide" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
            <i class="fa fa-linkedin-square linkedin-button"></i></a>
          </center>
        </div>
        <div class='col-xs-1 visible-xs'></div>
        <div class='col-lg-8 col-md-8 col-sm-10 col-lg-offset-0 col-md-offset-0 col-sm-offset-1 col-xs-10 course-description'>
          <p>
            <p style="">Did you know that web development is one of the <strong style="">fastest</strong> <strong style="">growing</strong> online industries today?</p><p style="">In 2015, it&#039;s becoming increasingly more important for <em style="">every</em> business to have an online presence. That represents a <em style="">huge</em> opportunity for you - <strong style="">bigger</strong> than it&#039;s ever been before.</p><p style="">Do you want to learn how to run a successful web development business, make great money, and kickstart your financial independence?</p><p style=""><em style="">Whether you want to code or not</em>, you can capitalize on the over 24 BILLION dollars of money spent per year on web development services.</p><p style=""><em style="">Part time or full time</em>, you can make an awesome portfolio and an even better income taking on web development projects.</p><p style="">In this course, I&#039;m going to show you how to jumpstart your business, grow it quickly, and manage your business like a professional. And all from the comfort of your laptop ;)</p><p style="">——————————————————————————</p><p style="">Hi, I&#039;m Evan Kimbrell and I&#039;m the founder of Sprintkick, a full service web &amp; mobile application studio based out of San Francisco. Over the last 4 years I&#039;ve personally overseen the launch of over 100 apps all the way from concept to deployment. I&#039;ve grown my business 400% a year from only 1 small client to over 100+ clients. Today, we make apps for big name brands like Walmart, GNC, Dick&#039;s Sporting Goods and other Fortune 500 companies.</p><p style="">I created this course to teach you how you can hit the ground running with starting a web development business - even if you don&#039;t want to code! </p><p style="">I see everyday too many people floundering to start or grow their web development business because they don&#039;t have the mentorship or the guidance to do it right.</p><p style="">Well, this course is my answer for all of you who have reached out for help. </p><p style="">I&#039;ve piled everything I know and everything that has made my business successful into this course.</p><p style="">——————————————————————————</p><p style=""><em style="">These are some of the questions this course will answer for you</em>:</p><p style="">» Where do I start and how do I know if I should do this?</p><p style="">» How do I choose a niche or whether or should specialize?</p><p style="">» How should I make my portfolio and what is most effective?</p><p style="">» How do I make professional proposals with spending tons of money?</p><p style="">» How do I spend less time looking for clients and more on building websites?</p><p style="">» How do I take on larger projects and make more money?</p><p style="">» How do I find clients?</p><p style="">» How do I keep clients from going to the competition?</p><p style="">» Which clients are the most profitable and how do I find them?</p><p style="">» How do I get clients to accept my estimates?</p><p style="">» How did other companies get so successful with web development?</p><p style="">» How do I charge more for my services?</p><p style="">» How can I bring in development partners to offload my work?</p><p style="">And so much more. The course has over 85+ lectures and 22 hours of content!</p><p style="">——————————————————————————</p><p style=""><strong style="">Why you should take this course</strong>:</p> <ul style=""><li style=""> Over 22+ hours of content and direct access to me, the instructor, as a guide and personal helper (I respond to everyone)</li></ul><ul style=""> <li style="">Learn step by step from someone who started and runs a very successful web development business.</li></ul><ul style=""> <li style="">Shorten your learning curve and protect yourself from making costly beginner mistakes.</li></ul><ul style=""> <li style="">Grow your business faster and with fewer hiccups along the way. Get shown how the professionals do it.</li></ul><ul style=""> <li style="">A web development business can be run from anywhere, anytime. Join the international community of entrepreneurs who work when they want, how they want.</li></ul><ul style=""> <li style="">Learn how to tailor your business to your lifestyle. If you want to work part time and free yourself up from the full time grind, this course shows you how.</li> </ul> <p style=""></p><p style=""><em style="">Included in this course</em>:</p> <ul style=""> <li style="">Free contract documents such as an NDA, a customizable standard web contract, and an addendum contract for extra work. All of these documents cost me over $5000, but are yours free as part of the course.</li></ul><ul style=""><li style="">FREE access to any course updates including case studies, projects, and collaborative discussions.</li></ul><ul style=""><li style="">Unlimited access to me, 24/7 to help you through the course material and to help with any issue you&#039;re having inside of the course or outside.</li></ul><ul style=""> <li style="">Review each course on the go. All course lectures are free to download and view anywhere even without internet connection</li></ul><ul style=""> <li style="">Section summaries to help you review and re-learn lecture points easily and quickly</li> </ul> <p style="">And of course, if you&#039;re not thrilled you can always get your money back within 30 days of enrolling.</p><p style="">——————————————————————————</p><p style=""><strong style="">About the instructor</strong>:</p><p style="">Top rated Udemy Instructor with multiple best selling courses and over 430+ 5 star reviews.</p><p style="">All courses by the instructor have 100% positive reviews with an average of 5 stars.</p>
          </p>
          <br>
        </div>
      </div>
    </div>

  </div>
  

  
  <div class="course-block bio odd-stripe" id="block-318976">
    <div class='container'>
      <div class='row'>
        <div class='col-xs-1 visible-xs'></div>
        <div class='col-lg-8 col-lg-offset-2 col-xs-10 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1'>
          <h2>
            Your Instructor
          </h2>
          <br>
          <div class='row'>
            <div class='col-lg-3 col-md-4 col-sm-4 text-center'>
              <img class='large-img-rounded img-responsive' src='//d6xfpzo6h49n1.cloudfront.net/TxOneNIDa8SgfPOgrW56DabqmaI=/https://d2vvqscadf4c1f.cloudfront.net/le3cjTVhRz2SmkYleyW9_Facebook%20Image.png'  alt='Complete Web Developer'>
              <div class='author-name'>
                Complete Web Developer
              </div>
            </div>
            <div class='col-lg-9 col-md-8 col-sm-8'>
              <p><span style="color: rgb(0, 0, 0);">we are the same team who runs Edurila, which taught more than 64k+ students with more than 100k+ course enrollments in just a year.
              </span>
            </p>
            <p><span style="color: rgb(0, 0, 0);">We have started this site to teach you all the Complete Courses Only i.e all of the courses will be a complete course alone so that you don't have to go anywhere else to expertise the skills.</span>
            </p>
            <p><br>
            </p>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>

</div>



<div class="course-block curriculum even-stripe" id="block-318975">
  <div class='container'>
    <div class='row'>
      <div class='col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2'>
        <h2>
          Class Curriculum
        </h2>
        <br>

        <div class='row'>
          <div class='col-sm-12 course-section'>
          <% @steps.each do |step| %>
          <% if step.header %>
            <div class='section-title'>
              
                <%= step.title %>
            </div>
            <% else %>
            <ul class='section-list'>

              <li class='section-item'>
              <%= link_to [step.course, step], class: 'item' do %>
                  <span class='lecture-icon'>
                    <i class='fa fa-youtube-play'></i>
                  </span>

                  <div class='btn-primary btn-sm pull-right lecture-start'>
                    Start
                  </div>

                  <%= step.title %>

                  (8:33)

                </a>
                <% end %>
              </li>

              <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>

</div>





<div class="course-block faq odd-stripe" id="block-318973">
  <div class='container'>
    <div class='row'>
      <div class='col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2'>
        <h2>
          <i class='fa fa-question-circle'></i>
          Frequently Asked Questions
        </h2>
        <br>

        <div class='faq-question'>
          When does the course start and finish?
        </div>
        <div class='faq-answer'>
          The course starts now and never ends! It is a completely self-paced online course - you decide when you start and when you finish.
        </div>

        <div class='faq-question'>
          How long do I have access to the course?
        </div>
        <div class='faq-answer'>
          How does lifetime access sound? After enrolling, you have unlimited access to this course for as long as you like - across any and all devices you own.
        </div>

        <div class='faq-question'>
          What if I am unhappy with the course?
        </div>
        <div class='faq-answer'>
          We would never want you to be unhappy! If you are unsatisfied with your purchase, contact us in the first 30 days and we will give you a full refund.
        </div>

      </div>
    </div>
  </div>

</div>



<div class="course-block coupon_banner " id="block-318972">
  <div class='coupon-code-applied hidden'>
    <div class='container'>
      <div class='row'>
        <div class='col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2'>
        <!-- Caution! the coupon-percent and coupon-text classes are used
        to set the displayed amount properly -->
        <div class='coupon-percent-text'>
          <span class='coupon-percent'></span>
          off original price!<br>
        </div>
        <div class='coupon-invalid-text hidden'>
          The coupon code you entered is expired or invalid, but the course is still available!
        </div>
      </div>
    </div>
  </div>
</div>

</div>





<div class="course-block checkout even-stripe" id="block-318970">
  <div class="checkout-cta">

    <h2>
      <!-- This is a final call-to-action that will say "Join 2,000 students and get started now!"
      or simply "Get started now!" if you have fewer than 100 students in the course -->
      
      Get started now!
      
    </h2>

  </div>
  <div class="container" id="pricing-options">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">

        <form action="/purchase" class="new_sale" id="new_sale" method="get">
          <input name="utf8" type="hidden" value="✓">
          <input type="hidden" name="" value="">
          <input id="course_id" name="course_id" type="hidden" value="32597">
          <input id="coupon_code" name="coupon_code" type="hidden" style="display:none;"/>

          <div class="col-sm-12 product-list hidden" data-toggle="buttons">
            <label class="btn checkout-button-group product_35938 active">

              <div class="col-sm-1 product-radio"><input type="radio" name="product_id" id="product_id_35938" value="35938" checked>

                <div class="custom-radio">
                  <div class="selected">&nbsp;</div>
                </div>
              </div>
              <div class="col-sm-9 product-details">
                <h3 class="product-name">
                  Running a Web Development Business: The Complete Guide
                  <span class="discount product_35938 hidden">
                    <span class='coupon-percent'></span>
                    Coupon Discount
                  </span>
                </h3>
                <p class="description">

                  <br>
                </p>
                <div class="detailed-description">

                </div>
              </div>
              <div class="col-sm-2 product-price">
                <span class="default-product-price product_35938">$299</span>&nbsp;
                <span class="coupon-price product_35938"></span>
                <br>
              </div>

            </label>
          </div>

          <div class="row">
            <center>
              <br>
              <button id='enroll-button' class="btn btn-hg btn-primary btn-enroll" name="commit" type="submit" value="Enroll in Course for $299">
                <i class='fa fa-shopping-cart'></i>&nbsp;&nbsp;
                Enroll in Course for 
                <span class="default-product-price product_35938">$299</span>
                <span class="coupon-price product_35938"></span>
              </button>
              <br>
            </center>
          </div>

        </form>
      </div>
    </div>
  </div>

  <!-- Pre-enrollment Form -->



</div>